body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #05264e;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}