/* Middle Section Styling */
.middle-container {
    display: flex;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
}
/* Left side styling */
.text-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    max-width: 65%;
    text-align: center;
}

.text-content h1 {
    text-align: center;
    font-size: 44px;
    color: orange;
}

.text-content p1 {
    font-size: 56px;
    margin: 20px 0;
}

.text-content .join-btn {
    padding: 10px 20px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 45%;
    margin-left: 45%;
}

.text-content .join-btn:hover {
    background-color: #cc8400;
}
/* Right Side Styling*/
.login-form {
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    max-width: 35%;
}

.login-form h1 {
    color: white;
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}

.login-form input {
    width: 80%;
    padding: 10px;
    margin-left: 34px;
    margin-bottom: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.login-form button {
    width: 20%;
    padding: 10px;
    background-color: orange;
    margin-left: 40%;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form button:hover {
    background-color: #cc8400;
}

.login-form a {
    color: orange;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 10px;
}

.login-form a:hover {
    text-decoration: underline;
}